In [1]:
import pickle
with open('data.pkl','rb') as file:
    train_data = pickle.load(file)
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Customer Full Name,order_year,order_month,order_week_day,order_hour,order_month_year
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,327.750000,0,2/3/2018 22:56,Standard Class,CallyHolloway,2018,1,2,22,2018-01
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,327.750000,0,1/18/2018 12:27,Standard Class,IreneLuna,2018,1,5,12,2018-01
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,327.750000,0,1/17/2018 12:06,Standard Class,GillianMaldonado,2018,1,5,12,2018-01
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,327.750000,0,1/16/2018 11:45,Standard Class,TanaTate,2018,1,5,11,2018-01
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,327.750000,0,1/15/2018 11:24,Standard Class,OrliHendricks,2018,1,5,11,2018-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,399.980011,0,1/20/2016 3:40,Standard Class,MariaPeterson,2016,1,5,3,2016-01
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,399.980011,0,1/19/2016 1:34,Second Class,RonaldClark,2016,1,5,1,2016-01
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,399.980011,0,1/20/2016 21:00,Standard Class,JohnSmith,2016,1,4,21,2016-01
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,399.980011,0,1/18/2016 20:18,Standard Class,MarySmith,2016,1,4,20,2016-01
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,399.980011,0,1/19/2016 18:54,Standard Class,AndreaOrtega,2016,1,4,18,2016-01

In [2]:
import numpy as np
train_data['fraud'] = np.where(train_data['Order Status'] == 'SUSPECTED_FRAUD',1,0)
train_data['fraud']

0         0
1         0
2         0
3         0
4         0
         ..
180514    0
180515    0
180516    0
180517    0
180518    0
Name: fraud, Length: 180519, dtype: int32

In [3]:
train_data['fraud'].sum()

4062

In [4]:
#late_delivery = 0, 1
train_data['late_delivery'] = np.where(train_data['Delivery Status'] == 'Late delivery',1,0)
#train_data['Delivery Status'].value_counts()
train_data['late_delivery']

0         0
1         1
2         0
3         0
4         0
         ..
180514    0
180515    1
180516    1
180517    0
180518    0
Name: late_delivery, Length: 180519, dtype: int32

In [5]:
#train_data.info()
categorical_cols = train_data.select_dtypes(include = 'object').columns
categorical_cols

Index(['Type', 'Delivery Status', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Department Name', 'Market',
       'Order City', 'Order Country', 'Order Region', 'Order State',
       'Order Status', 'Product Image', 'Product Name',
       'shipping date (DateOrders)', 'Shipping Mode', 'Customer Full Name'],
      dtype='object')

In [6]:
train_data.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode',
       'Customer Full Name', 'order_year', 'order_month', 'order_week_day',
       'order_hour', 'order_month_year', 'fraud', 'late_delivery'],
      dtype='object')

In [7]:
for column in train_data.columns:
    if len(train_data[column].value_counts())<2:
        print(column)

Customer Email
Customer Password
Product Description
Product Status

In [8]:
train_data['Customer Country'].value_counts()

EE. UU.        111146
Puerto Rico     69373
Name: Customer Country, dtype: int64

In [9]:
train_data.drop(['Customer Email','Customer Password','Order Status','Product Description','Product Status','Product Image','Customer Lname','Customer Fname'],axis = 1,inplace = True)

In [10]:
train_data.drop(['Order Customer Id','Order Item Cardprod Id',
                'Order Item Id','Sales per customer','Order Item Total',
                'Order Profit Per Order','Product Card Id','Product Category Id','Product Price'],axis = 1,inplace = True)

In [11]:
#显示所有列
import pandas as pd
pd.set_option('display.max_columns',None)
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,order date (DateOrders),Order Id,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Region,Order State,Order Zipcode,Product Name,shipping date (DateOrders),Shipping Mode,Customer Full Name,order_year,order_month,order_week_day,order_hour,order_month_year,fraud,late_delivery
0,DEBIT,3,4,91.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,20755,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,2018-01-31 22:56:00,77202,13.110000,0.04,327.750000,0.29,1,327.750000,Southeast Asia,Java Occidental,NaN,Smart watch,2/3/2018 22:56,Standard Class,CallyHolloway,2018,1,2,22,2018-01,0,0
1,TRANSFER,5,4,-249.089996,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,19492,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,2018-01-13 12:27:00,75939,16.389999,0.05,327.750000,-0.80,1,327.750000,South Asia,Rajastán,NaN,Smart watch,1/18/2018 12:27,Standard Class,IreneLuna,2018,1,5,12,2018-01,0,1
2,CASH,4,4,-247.779999,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,19491,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,2018-01-13 12:06:00,75938,18.030001,0.06,327.750000,-0.80,1,327.750000,South Asia,Rajastán,NaN,Smart watch,1/17/2018 12:06,Standard Class,GillianMaldonado,2018,1,5,12,2018-01,0,0
3,DEBIT,3,4,22.860001,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,19490,Home Office,CA,3200 Amber Bend,90027.0,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,2018-01-13 11:45:00,75937,22.940001,0.07,327.750000,0.08,1,327.750000,Oceania,Queensland,NaN,Smart watch,1/16/2018 11:45,Standard Class,TanaTate,2018,1,5,11,2018-01,0,0
4,PAYMENT,2,4,134.210007,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,19489,Corporate,PR,8671 Iron Anchor Corners,725.0,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,2018-01-13 11:24:00,75936,29.500000,0.09,327.750000,0.45,1,327.750000,Oceania,Queensland,NaN,Smart watch,1/15/2018 11:24,Standard Class,OrliHendricks,2018,1,5,11,2018-01,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,Shipping on time,0,45,Fishing,Brooklyn,EE. UU.,1005,Home Office,NY,1322 Broad Glade,11207.0,7,Fan Shop,40.640930,-73.942711,Pacific Asia,Shanghái,China,2016-01-16 03:40:00,26043,0.000000,0.00,399.980011,0.10,1,399.980011,Eastern Asia,Shanghái,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 3:40,Standard Class,MariaPeterson,2016,1,5,3,2016-01,0,0
180515,DEBIT,3,2,-613.770019,Late delivery,1,45,Fishing,Bakersfield,EE. UU.,9141,Corporate,CA,7330 Broad Apple Moor,93304.0,7,Fan Shop,35.362545,-119.018700,Pacific Asia,Hirakata,Japón,2016-01-16 01:34:00,26037,4.000000,0.01,399.980011,-1.55,1,399.980011,Eastern Asia,Osaka,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 1:34,Second Class,RonaldClark,2016,1,5,1,2016-01,0,1
180516,TRANSFER,5,4,141.110001,Late delivery,1,45,Fishing,Bristol,EE. UU.,291,Corporate,CT,97 Burning Landing,6010.0,7,Fan Shop,41.629959,-72.967155,Pacific Asia,Adelaide,Australia,2016-01-15 21:00:00,26024,8.000000,0.02,399.980011,0.36,1,399.980011,Oceania,Australia del Sur,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 21:00,Standard Class,JohnSmith,2016,1,4,21,2016-01,0,1
180517,PAYMENT,3,4,186.229996,Advance shipping,0,45,Fishing,Caguas,Puerto Rico,2813,Consumer,PR,2585 Silent Autumn Landing,725.0,7,Fan Shop,18.213350,-66.370575,Pacific Asia,Adelaide,Australia,2016-01-15 20:18:00,26022,12.000000,0.03,399.980011,0.48,1,399.980011,Oceania,Australia del Sur,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/18/2016 20:18,Standard Class,MarySmith,2016,1,4,20,2016-01,0,0
180518,PAYMENT,4,4,168.949997,Shipping on time,0,45,Fishing,Caguas,Puerto Rico,7547,Consumer,PR,697 Little Meadow,725.0,7,Fan Shop,18.290380,-66.370613,Pacific Asia,Nagercoil,India,2016-01-15 18:54:00,26018,16.000000,0.04,399.980011,0.44,1,399.980011,South Asia,Tamil Nadu,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 18:54,Standard Class,AndreaOrtega,2016,1,4,18,2016-01,0,0

In [12]:
train_data.drop(['order_month_year','order date (DateOrders)','Late_delivery_risk','Delivery Status','Order Zipcode','shipping date (DateOrders)','Latitude','Longitude','Customer State'],axis =1,inplace = True)

In [13]:
categorical_cols = train_data.select_dtypes(include = 'object').columns
categorical_cols

Index(['Type', 'Category Name', 'Customer City', 'Customer Country',
       'Customer Segment', 'Customer Street', 'Department Name', 'Market',
       'Order City', 'Order Country', 'Order Region', 'Order State',
       'Product Name', 'Shipping Mode', 'Customer Full Name'],
      dtype='object')

In [14]:
#train_data['Customer Full Name'].isnull().sum()
train_data = train_data.dropna(subset = ['Customer Full Name'])

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for cat in categorical_cols:
    train_data[cat] = le.fit_transform(train_data[cat])

F:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [16]:
train_data[categorical_cols]

,Type,Category Name,Customer City,Customer Country,Customer Segment,Customer Street,Department Name,Market,Order City,Order Country,Order Region,Order State,Product Name,Shipping Mode,Customer Full Name
0,1,40,66,1,0,3683,4,3,331,70,15,475,78,3,1875
1,3,40,66,1,0,1400,4,3,391,69,13,841,78,3,5374
2,0,40,452,0,0,6217,4,3,391,69,13,841,78,3,4426
3,1,40,285,0,2,1803,4,3,3226,8,11,835,78,3,12922
4,2,40,66,1,1,6345,4,3,3226,8,11,835,78,3,10632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,18,59,0,2,285,3,3,2922,31,7,913,24,3,8421
180515,1,18,26,0,1,5261,3,3,1362,77,7,770,24,2,11672
180516,3,18,55,0,1,7208,3,3,25,8,11,88,24,3,6296
180517,2,18,66,1,0,1335,3,3,25,8,11,88,24,3,9379
180518,2,18,66,1,0,5001,3,3,2203,69,13,967,24,3,658

In [17]:
train_data.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Id', 'Customer Segment',
       'Customer Street', 'Customer Zipcode', 'Department Id',
       'Department Name', 'Market', 'Order City', 'Order Country', 'Order Id',
       'Order Item Discount', 'Order Item Discount Rate',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Region', 'Order State',
       'Product Name', 'Shipping Mode', 'Customer Full Name', 'order_year',
       'order_month', 'order_week_day', 'order_hour', 'fraud',
       'late_delivery'],
      dtype='object')

In [18]:
train_data['order_week_day']
numerical_columns = train_data.columns.tolist()
for x in categorical_cols.tolist():
    numerical_columns.remove(x)
print(numerical_columns)

['Days for shipping (real)', 'Days for shipment (scheduled)', 'Benefit per order', 'Category Id', 'Customer Id', 'Customer Zipcode', 'Department Id', 'Order Id', 'Order Item Discount', 'Order Item Discount Rate', 'Order Item Product Price', 'Order Item Profit Ratio', 'Order Item Quantity', 'Sales', 'order_year', 'order_month', 'order_week_day', 'order_hour', 'fraud', 'late_delivery']

In [19]:
train_data['fraud']
x_fraud = train_data.loc[:,train_data.columns != 'fraud']
y_fraud = train_data['fraud']
x_fraud

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer Street,Customer Zipcode,Department Id,Department Name,Market,Order City,Order Country,Order Id,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Region,Order State,Product Name,Shipping Mode,Customer Full Name,order_year,order_month,order_week_day,order_hour,late_delivery
0,1,3,4,91.250000,73,40,66,1,20755,0,3683,725.0,2,4,3,331,70,77202,13.110000,0.04,327.750000,0.29,1,327.750000,15,475,78,3,1875,2018,1,2,22,0
1,3,5,4,-249.089996,73,40,66,1,19492,0,1400,725.0,2,4,3,391,69,75939,16.389999,0.05,327.750000,-0.80,1,327.750000,13,841,78,3,5374,2018,1,5,12,1
2,0,4,4,-247.779999,73,40,452,0,19491,0,6217,95125.0,2,4,3,391,69,75938,18.030001,0.06,327.750000,-0.80,1,327.750000,13,841,78,3,4426,2018,1,5,12,0
3,1,3,4,22.860001,73,40,285,0,19490,2,1803,90027.0,2,4,3,3226,8,75937,22.940001,0.07,327.750000,0.08,1,327.750000,11,835,78,3,12922,2018,1,5,11,0
4,2,2,4,134.210007,73,40,66,1,19489,1,6345,725.0,2,4,3,3226,8,75936,29.500000,0.09,327.750000,0.45,1,327.750000,11,835,78,3,10632,2018,1,5,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,4,4,40.000000,45,18,59,0,1005,2,285,11207.0,7,3,3,2922,31,26043,0.000000,0.00,399.980011,0.10,1,399.980011,7,913,24,3,8421,2016,1,5,3,0
180515,1,3,2,-613.770019,45,18,26,0,9141,1,5261,93304.0,7,3,3,1362,77,26037,4.000000,0.01,399.980011,-1.55,1,399.980011,7,770,24,2,11672,2016,1,5,1,1
180516,3,5,4,141.110001,45,18,55,0,291,1,7208,6010.0,7,3,3,25,8,26024,8.000000,0.02,399.980011,0.36,1,399.980011,11,88,24,3,6296,2016,1,4,21,1
180517,2,3,4,186.229996,45,18,66,1,2813,0,1335,725.0,7,3,3,25,8,26022,12.000000,0.03,399.980011,0.48,1,399.980011,11,88,24,3,9379,2016,1,4,20,0
180518,2,4,4,168.949997,45,18,66,1,7547,0,5001,725.0,7,3,3,2203,69,26018,16.000000,0.04,399.980011,0.44,1,399.980011,13,967,24,3,658,2016,1,4,18,0

In [20]:
x_late = train_data.loc[:,train_data.columns !='late_delivery']
y_late = train_data['late_delivery']

In [21]:
x_s = train_data.loc[:,train_data.columns !='Sales']
y_s = train_data['Sales']

In [22]:
x_o = train_data.loc[:,train_data.columns !='Order Item Quantity']
y_o = train_data['Order Item Quantity']

In [23]:
#数据切分
from sklearn.model_selection import train_test_split
x_f_train,x_f_test,y_f_train,y_f_test =train_test_split(x_fraud,y_fraud,test_size = 0.2)
x_l_train,x_l_test,y_l_train,y_l_test =train_test_split(x_late,y_late,test_size = 0.2)
x_s_train,x_s_test,y_s_train,y_s_test =train_test_split(x_s,y_s,test_size = 0.2)
x_o_train,x_o_test,y_o_train,y_o_test =train_test_split(x_o,y_o,test_size = 0.2)

In [24]:
from sklearn.preprocessing import StandardScaler
#数据归一化
sc = StandardScaler()
x_f_train = sc.fit_transform(x_f_train)
x_f_test = sc.transform(x_f_test)
x_l_train = sc.fit_transform(x_l_train)
x_l_test = sc.transform(x_l_test)
x_s_train = sc.fit_transform(x_s_train)
x_s_test = sc.transform(x_s_test)
x_o_train = sc.fit_transform(x_o_train)
x_o_test = sc.transform(x_o_test)

In [25]:
x_f_train.shape

(144408, 34)

In [26]:
x_f_test.shape

(36103, 34)

In [27]:
from sklearn.metrics import accuracy_score,recall_score,roc_auc_score,f1_score
def model_stats(model,x_train,x_test,y_train,y_test,name = 'Fraud'):
    model = model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_pred,y_test)
    recall = recall_score(y_pred,y_test)
    auc=roc_auc_score(y_pred,y_test)
    f1 = f1_score(y_pred,y_test)
    print('Model Used:',model)
    print('{} Accuracy :{}%'.format(name,accuracy *100))
    print('{} Recall :{}%'.format(name,recall *100))
    print('{} AUC :{}%'.format(name,auc*100))
    print('{} F1 :{}%'.format(name,f1*100))
    return accuracy,recall,f1

In [34]:
from sklearn.metrics import mean_squared_error
def model_re(model,x_train,x_test,y_train,y_test,name):
    model = model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    mse = mean_squared_error(y_pred,y_test)
    print('{} mse :{}%'.format(name,mse%100))
    return mse

In [29]:
x_f_test

array([[-0.67878537, -1.54169751, -2.13960272, ..., -0.50299786,
         0.50994392,  0.90749135],
       [-0.67878537, -0.30872201,  0.77534534, ..., -0.50299786,
        -0.79017149, -1.10193888],
       [ 1.33229437, -1.54169751, -2.13960272, ...,  0.9965359 ,
         1.08777299, -1.10193888],
       ...,
       [ 1.33229437, -1.54169751, -2.13960272, ..., -0.50299786,
         1.66560206,  0.90749135],
       [ 0.3267545 , -0.30872201,  0.77534534, ...,  0.49669131,
         1.23223026, -1.10193888],
       [ 0.3267545 , -0.92520976, -1.4108657 , ...,  0.49669131,
        -1.36800056,  0.90749135]])

In [30]:
from sklearn.linear_model import LogisticRegression
#逻辑回归模型
model_fraud = LogisticRegression()
model_late = LogisticRegression()
model_stats(model_fraud,x_f_train,x_f_test,y_f_train,y_f_test,'Fraud')
model_stats(model_late,x_l_train,x_l_test,y_l_train,y_l_test,'late')

F:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Model Used: LogisticRegression()
Fraud Accuracy :97.86444339805557%
Fraud Recall :56.730769230769226%
Fraud AUC :77.47689309517004%
Fraud F1 :31.466666666666672%
Model Used: LogisticRegression()
late Accuracy :98.82004265573498%
late Recall :97.89816459443458%
late AUC :98.94908229721729%
late F1 :98.93792071802544%

(0.9882004265573499, 0.9789816459443458, 0.9893792071802544)

In [41]:
from lightgbm import LGBMRegressor
model_s = LGBMRegressor()
model_o = LGBMRegressor()
model_s(model_s,x_s_train,x_s_test,y_s_train,y_s_test,'s')
model_o(model_o,x_o_train,x_o_test,y_o_train,y_o_test,'o')

TypeError: 'LGBMRegressor' object is not callable